body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--texto-secundario);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e0e0e0;
    margin-bottom: 30px;
}

.form-container {
    background-color: var(--cor-cartao);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 98%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

h2 {
    color: #e0e0e0;
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #b0b0b0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4a4a6a;
    border-radius: 4px;
    background-color: #3a3a5a;
    color: #e0e0e0;
}

form input::placeholder {
    color: var(--texto-secundario);
}

form button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

form button:hover {
    background-color: #218838;
}

.botao-salvar {
    display: inline-block;
    width: 92%;
    background-color: var(--cor-primaria);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-salvar:hover {
    background-color: var(--cor-primaria-hover);
}

.botao-entrar {
    display: inline-block;
    width: 92%;
    background-color: var(--cor-primaria);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-entrar:hover {
    background-color: var(--cor-primaria-hover);
}

p {
    margin-top: 20px;
    color: #b0b0b0;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .form-container {
        margin: 20px auto;
        /* Centraliza e adiciona margem */
        width: calc(100% - 40px);
        /* Garante que o container não exceda a largura da tela */
    }
}


/* Estilos do Dashboard */

/*Variaveis para dashboard*/
:root {
    /* Cores base */
    --cor-fundo: #0f0f1a;
    --cor-sidebar: #161624;
    --cor-cartao: #1e1e2f;
    --cor-borda: #2a2a3d;

    /* Texto */
    --texto-principal: #f5f5f5;
    --texto-secundario: #9ca3af;

    /* Ações */
    --cor-primaria: #6366f1;
    --cor-primaria-hover: #4f46e5;
    --cor-secondary: #4244c1;
    --cor-secondary-hover: #5223a2;
    --cor-sucesso: #22c55e;
    --cor-perigo: #f42323;
    --cor-link: #0ea5e9;
}



.dashboard-body {
    background-color: var(--cor-fundo);
    margin: 0;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    display: flex;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: var(--cor-sidebar);
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #e0e0e0;
    margin-bottom: 30px;
    font-size: 24px;
}

.menu-navegacao ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-navegacao li {
    margin-bottom: 10px;
}

.menu-navegacao a {
    color: var(--texto-secundario);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-navegacao a:hover,
.menu-navegacao a.ativo {
    background-color: var(--cor-borda);
    color: var(--texto-principal);
}

.conteudo-principal {
    flex: 1;
    padding: 20px;
    background-color: #1a1a2e;
}

.cabecalho-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cabecalho-dashboard h1 {
    color: #e0e0e0;
    margin: 0;
}

.botao-nova-tarefa,
.botao-voltar-lista,
.botao-cancelar-edicao {
    background-color: var(--cor-primaria);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.botao-nova-tarefa:hover,
.botao-voltar-lista:hover,
.botao-cancelar-edicao:hover {
    background-color: var(--cor-primaria-hover);
}

.botao-concluir,
.botao-salvar-tarefa,
.botao-salvar-alteracoes {
    display: inline-block;
    width: 40%;
    background-color: var(--cor-sucesso);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-concluir:hover,
.botao-salvar-tarefa:hover,
.botao-salvar-alteracoes:hover {
    background-color: #095e1b;
}

.botao-editar {
    display: inline-block;
    width: 40%;
    background-color: var(--cor-secondary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-editar:hover {
    background-color: var(--cor-secondary-hover);
}

.botao-editar-tarefa {
    display: inline-block;
    width: 40%;
    background-color: var(--cor-secondary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-editar-tarefa:hover {
    background-color: var(--cor-secondary-hover);
}

.botao-excluir-tarefa {
    display: inline-block;
    width: 40%;
    background-color: var(--cor-perigo);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-excluir-tarefa:hover {
    background-color: #a10c1b;
}

.botao-cancelar {
    display: inline-block;
    width: 40%;
    background-color: var(--cor-perigo);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

.grade-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.cartao-tarefa {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cartao-tarefa,
.cartao-detalhes,
.formulario-tarefa {
    background-color: var(--cor-cartao);
    border: 1px solid var(--cor-borda);
}

.cabecalho-cartao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cabecalho-cartao h3 {
    color: #e0e0e0;
    margin: 0;
}

/*== olho ==*/

.icone-olho {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* escondemos o olho preenchido */
.icone-olho .cheio {
    display: none;
}

/* ao passar o mouse → some o normal e aparece o cheio */
.icone-olho:hover .normal {
    display: none;
}

.icone-olho:hover .cheio {
    display: inline;
}

.cartao-tarefa p {
    color: #b0b0b0;
    margin-bottom: 15px;
    line-height: 1.4;
}

.acoes-tarefa {
    display: flex;
    gap: 10px;
}



.rodape-dashboard {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #2a2a4a;
    color: #808080;
    text-align: center;
}

/* Estilos para Detalhes da Tarefa */
.detalhes-container {
    max-width: 800px;
}

.cartao-detalhes {
    background-color: #2a2a4a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.titulo-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3a3a5a;
}

.titulo-status h2 {
    color: #e0e0e0;
    margin: 0;
}

.status-pendente-detalhes {
    background-color: #ffc107;
    color: #000;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.campo-detalhes {
    margin-bottom: 20px;
}

.campo-detalhes label {
    display: block;
    color: #b0b0b0;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-detalhes span {
    color: #e0e0e0;
}

.descricao-completa {
    background-color: #3a3a5a;
    padding: 15px;
    border-radius: 4px;
    border-left: 4px solid #007bff;
}

.descricao-completa p {
    margin: 0;
    color: #e0e0e0;
    line-height: 1.6;
}

.acoes-detalhes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}


/* Estilos para Formulários */
.formulario-container {
    max-width: 600px;
}

.formulario-tarefa {
    background-color: #2a2a4a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario label {
    display: block;
    color: #b0b0b0;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-formulario input[type="text"],
.campo-formulario textarea,
.campo-formulario select {
    width: 100%;
    padding: 12px;
    border: 1px solid #4a4a6a;
    border-radius: 4px;
    background-color: #3a3a5a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.campo-formulario input::placeholder,
.campo-formulario textarea::placeholder {
    color: #808080;
}

.campo-formulario textarea {
    resize: vertical;
    min-height: 100px;
}

.campo-formulario select {
    cursor: pointer;
}

.acoes-formulario {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}




/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    color: #808080;
    font-size: 14px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade para Dashboard */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 15px;
    }

    .menu-navegacao ul {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }

    .menu-navegacao li {
        margin-bottom: 0;
        white-space: nowrap;
    }

    .cabecalho-dashboard {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .grade-tarefas {
        grid-template-columns: 1fr;
    }

    .acoes-formulario {
        flex-direction: column;
    }

    .acoes-detalhes {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .conteudo-principal {
        padding: 15px;
    }

    .menu-navegacao ul {
        display: grid;
        grid-template-columns: auto auto;
        overflow-x: auto;
        gap: 10px;

    }

    .cartao-tarefa,
    .cartao-detalhes,
    .formulario-tarefa {
        padding: 20px;
    }
}